*,
*::before,
*::after {
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    width: 250px;
    height: 250px;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid lightskyblue;
    margin: 0 auto;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    padding: 0 300px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

/* nav-bar */
.navigation {
    display: flex;
    align-items: center;
}

.logo {
    flex: 1 0 auto;
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navigation ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

/* welcome */

.welcome {
    display: flex;
    gap: 100px;
    margin: 100px 0;
    font-size: 18px;
}

/* the welcome header with btn */

.welcome div {
    flex: 1;
}

.welcome h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.welcome button {
    background: #3882f6;
    padding: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 0px transparent;
    width: 150px;
}

/* The place holder of the image */
.welcome .welcome-box {
    flex: 1 1 auto;
    height: 400;
    background-color: lightgray;
}

/* content */
.content {
    text-align: center;
    margin: 20px 0;
}

.content h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.container .info {
    max-width: 150px;
    font-size: 18px;
}

/* quote */

.quote {
    padding: 100px 540px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote p {
    margin: 0;
}

.quote .person {
    text-align: right;
    font-style: normal;
    font-weight: bold;
}

/* contact */

.contact {
    margin: 100px 300px;
    background-color: #3882f6;
    color: white;
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.contact p,
.contact h3 {
    margin: 0;
}

.contact button {
    background-color: #3882f6;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    width: 150px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0;
}